<div class="container section">

  <div class="main section">
    <h1> {{ title }} </h1>
    <hr>
    <div class="todo-list">
    </div>
  </div>

  <div class="sidebar section">
    <h1> {{ header }} </h1>
    <hr>
    <input type="text" class="new form-control" placeholder="Add to-do item" name='todo'>
    <button type="button" class="add btn btn-default btn-xs">Enter</button>
  </div>

</div>

{{!-- to-do list template --}}
<template id="todo-template">
  <ul>
  \{{# each todos}}
    <li><form action="/delete/\{{ _id }}" method="post"><button class="delete">x</button></form>
    <form action="/edit/\{{ _id }}" method="post"><span class="update" contenteditable="true">\{{ message }}</span></form>
    </li>
  \{{/each}}
  </ul>
</template>
