<div class="container section">
  <div class="main">
    <h1> {{ title }} </h1>
  </div>
  <div class="sidebar">
    <h1 id="sidebar-header"> {{ header }} </h1>
  </div>
    <hr>
  <div class="main section">
    <div class="todo-list">
    </div>
  </div>
  <div class="sidebar section">
    <img id="pusheen-browser" src="http://i.imgur.com/WHnuA2O.gif">
    <br>
    <input type="text" class="new form-control" placeholder="Add a to-do item =^._.^= ∫" name="todo" maxlength="40">
    <button type="button" class="add btn btn-default btn-xs">Enter</button>
    <img id="pusheen-mobile" src="http://i.imgur.com/WHnuA2O.gif">
  </div>
</div>

<script src="main.js"></script>

{{!-- to-do list template --}}
<template id="todo-template">
  <ul>
  \{{# each todos}}
    <li><form action="/delete/\{{ _id }}" method="post"><button class="x-btn">x</button></form>
    <span class="todos update" contenteditable="true" oid="\{{ _id }}">\{{ message }}</span>
    </li>
  \{{/each}}
  </ul>
</template>
